/* =========================
    ESTILOS ELEMENTOS
   ========================= */

#lightdark {
    background:  rgb(230, 222, 222);
    border: 1px solid  rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 36px;
    height: 36px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background .2s, transform .2s;
    display: flex; align-items: center; justify-content: center;
}

#lightdark:hover {
    background: rgb(200, 200, 200);
    transform: rotate(30deg);
}

/* =========================
   LOADING Y ERRORES
========================= */

#cat-loading {
    margin-top: 15px;
    font-weight: bold;
    padding: 10px;
    width: auto;
    height: 250px;
    border-radius: 10px;
    display: flex;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(230, 222, 222);
    border-radius: 10px;
    margin-bottom: 20px;
}

/* =========================
   MODO CLARO
========================= */

body.light-mode{
    background-color: white;
    color: #000000;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;

    #content {
    background-color: #dfd8d8;
    }

    #filters {
    background-color: rgb(238, 238, 243);
    }

    #navbar {
    background-color: rgb(230, 222, 222);
    }
    #cat-loading {
    background-color: rgb(230, 222, 222);
    }
}

/* =========================
   MODO OSCURO
========================= */

body {
    background-color: #121212;
    color: #ffffff;
     
    #content {
    background-color: #312e2e;
    }

    #filters {
    background-color: rgb(39, 39, 43);
    }

    #navbar {
    background-color: rgb(39, 39, 43);
    }
    #cat-loading {
    background-color: rgb(39, 39, 43);
    }
}